body {
    background: #DDDDDD;
}

.navbar {
    background-color: #631D76;
    color: black;
}

.page-container {
    margin-top: 75px;
}

#journalText{
    border-color: black;
    border-width: 2px;
    background-color: #DDDDDD;
    
}

#saveButton{
    margin: auto;
    border: none;
    color: #631D76;
    background-color: white;
    width: 10vw;
    height: 5vh;
    font-size: 1em;
    align-items: center;
}

#groupButtonsContainer{
    display: flex;
    flex: 1;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

#buttonsContainer{
    display: flex;
    flex: 1;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.groupButton{
    margin: 20px;
    border: none;
    color: #631D76;
    width: 60vw;
    height: 20vh;
    font-size: 1em;
}

#joinGroup{
    background-color: #631D76;
    color: white;
    border: none;
    width: 60vw;
    height: 5vh;
}

strong{
    font-size: 2em;
}

