body {
    background: #DDDDDD;
}

.navbar {
    background-color: #800000;
    color: white;
}

.page-container {
    margin-top: 75px;
}

#journalText{
    border-color: black;
    border-width: 2px;
    background-color: #DDDDDD;
}
